{% load static %}

<div class="section" id="contact">
    <div class="cc-contact-information">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="h4 text-center title"><i class="fa fa-address-card-o" aria-hidden="true"></i>
                            Contact Me</div>
                        <div class="card mb-0" data-aos="zoom-in">

                            <div class="row">

                                <div class="card-body ">
                                    <section>
                                        <div class="container text-center">
                                            <br>
                                            {% for about in about_me %}
                                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                                            <a class="cc-facebook btn btn-link"
                                                href="mailto: {{about.email}}">{{about.email}}</a>
                                            <br>
                                            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                            <a class="cc-facebook btn btn-link"
                                                href="tel:{{about.phone}}">{{about.phone}}</a>
                                            {% endfor %}


                                        </div>
                                    </section>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>