<footer class="footer">
    <div class="container text-center">
        {% for each_link in socialmedia %}
        {% if each_link.is_active %}
        <a class="cc-facebook btn btn-link" target="_blank" href="{{each_link.mediaURL}}"><i
                class="fa {{each_link.iconClass}} fa-2x " aria-hidden="true"></i></a>
        {% endif %}
        {% endfor %}

    </div>
    <hr />
    <div class="text-center text-muted">
        <p>Template Credit: &copy; Creative CV. All rights reserved.<br>Design - <a class="credit"
                href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
    </div>
</footer>