{% load static %}

<div class="shadow-1-strong bg-white my-5" id="intro">
    <div class="bg-info text-white">
        <div class="cover bg-image"><img src="{% static 'design_2/images/bg.svg' %}" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                <div class="text-center p-5">
                    {% for about in about_me %}
                    <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="{{about.avatar}} "
                            width="160" height="160" /></div>
                    <div class="header-bio mt-3">
                        <div data-aos="zoom-in" data-aos-delay="0">
                            <h2 class="h1">{{about.name}}</h2>
                            <p>{{about.intro}}</p>
                        </div>
                        <!-- Include socialmedia links part -->
                        {% include "design_2/utils/socialmedia.html" %}
                        <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3"
                                href="{{about.cv}}" target="_blank" data-aos="fade-right" data-aos-delay="700">Download
                                CV</a><a class="btn btn-info btn-lg shadow-sm mt-1" href="#contact" data-aos="fade-left"
                                data-aos-delay="700">Hire Me</a></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>