{% load static %}


<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
<link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
    media="print" onload="this.media='all'" />
<noscript>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
</noscript>
<link href="{% static 'design_2/css/font-awesome/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'design_2/css/mdb.min.css' %}" rel="stylesheet">
<link href="{% static 'design_2/css/aos.css' %}" rel="stylesheet">
<link href="{% static 'design_2/css/main.css' %}" rel="stylesheet">