{% load static %}

<div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contant-section">
        <h2 class="h2 fw-light text mb-4">Contact</h2>
        <div class="row mb-4">
            <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
                <div class="mt-1">
                    {% for about in about_me %}
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <a class="cc-facebook btn btn-link" href="mailto: {{about.email}}">{{about.email}}</a>
                    <br>
                    <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                    <a class="cc-facebook btn btn-link" href="tel:{{about.phone}}">{{about.phone}}</a>
                    {% endfor %}


                </div>


            </div>
            <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15548.727974549152!2d77.63466781682288!3d13.024079708951465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae172410545219%3A0x697fa808267930f8!2sKalyan%20Nagar%2C%20Bengaluru%2C%20Karnataka%20560043!5e0!3m2!1sen!2sin!4v1636799373589!5m2!1sen!2sin"
                    width="200" height="200" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </div>

    </div>
</div>