<div class="section">
    <div class="container">
        <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon cc-twitter "
                href="https://www.linkedin.com/in/shijoshaji/" rel="tooltip" title="Follow me on LinkedIn"
                target="_blank">
                <i class="fa fa-linkedin"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon cc-twitter" href="https://github.com/shijoshaji"
                rel="tooltip" title="Follow me on Github" target="_blank">
                <i class="fa fa-github"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon cc-twitter" href="https://www.facebook.com/jojovms"
                rel="tooltip" title="Follow me on Facebook" target="_blank">
                <i class="fa fa-facebook"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon cc-twitter" href="https://twitter.com/shijoshaji"
                rel="tooltip" title="Follow me on Twitter" target="_blank">
                <i class="fa fa-twitter"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon cc-twitter" href="https://www.instagram.com/jojovms/"
                rel="tooltip" title="Follow me on Instagram" target="_blank">
                <i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>