<div class="section">
    <div class="container">
        <div class="button-container">

            {% for each_link in socialmedia %}
            {% if each_link.is_active %}
            <a class="btn btn-default btn-round btn-lg btn-icon cc-twitter " href="{{each_link.mediaURL}}" rel="tooltip"
                title="Follow me on {{each_link.title}}" target="_blank">
                <i class="fa {{each_link.iconClass}}"></i></a>

            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>